input:invalid:required {
  border: 2px solid black;
}
input:valid {
  border: 2px solid rgb(13, 156, 131);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
p {
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
li {
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  margin: .5rem;
}
li.button {
  align-content: center;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label[for='activity-duration-time']{
  margin: .5rem;
}
span {
  font-size: 1.25rem;
  text-justify: center;
  text-align: center;
}
input {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: .25rem;
  box-shadow: inset 0 0 1px #000000;
}
input:hover {
  cursor: pointer;
}
input[type='number'] {
  width: 4rem;
  height: 1.75rem;
  margin: .5rem;
  text-align: center;
}
input[type='email'] {
  width: 12rem;
  height: 1.75rem;
  margin: .5rem;
}
input[type='date'] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  width: 10rem;
  height: 1.75rem;
  margin: .5rem;
  text-align: center;
}
#distance-units {
  margin-top: .25rem;
  background-color: rgb(13, 156, 131);
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}
#distance-units-content{
  text-align: center;
  position: absolute;
  min-width: 1rem;
}
fieldset {
  -webkit-appearance: none; 
  appearance: none;
  border: none;
}
.horizontal-input {
  display: flex;
  flex-direction: row;
}
#submit-button {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(13, 156, 131);
    border: 1px solid transparent;
    padding: .375rem 1rem;
    font-size: 1.5rem;
    line-height: 1;
    border-radius: .25rem;
}
#submit-button:hover {
  cursor: pointer;
  opacity: .8;
}
#submit-button-final {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(13, 156, 131);
  border: 1px solid transparent;
  padding: .375rem 1rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: .25rem;
}
#submit-button-final:hover {
cursor: pointer;
opacity: .8;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}